.hidden {
    display: none;
}

.audiocall {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.audiocall__button {
    cursor: pointer;
    user-select: none;
}

.audiocall__button_asc {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
.response{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.response__img{
    border-radius: 150px;
    width: 300px;
    height: 300px;
}
.word-info__audio {
    width: 100px;
}

.word-info__audio_play {
    animation: playAudio 0.5s linear infinite;
}

.audiocall__word-info {
    display: flex;
    justify-content: center;
}

.audiocall__options {
    display: flex;
    justify-content: center;
    gap: 20px
}
.option{
    width: 200px;
    height: 30px;
    background: none;
    border: none;
    font-size: 24px;
}
.response__audio {
    height: 50px;
    width: 50px;
    border-radius: 25px;


}
.response__audio-img{
    width: 80%;
}
.response__word{
    display: flex;
    justify-content: space-evenly;
}
.response__word_right {
    background-color: greenyellow;
    display: inline-block;
    margin-right: 20px;
    width: 30px;
    border-radius: 15px;
}

.response__word_right::after {
    content: '✓';
}

.response__word_wrong {
    background-color: red;
    display: inline-block;
    margin-right: 20px;
    width: 30px;
    border-radius: 15px;
}

.response__word_wrong::after {
    content: '✖';
}

.audiocall__buttons {
    display: flex;
    justify-content: center;
}
.audiocall__buttons_dont-know,
.audiocall__buttons_next
{
    width: 200px;
    border: none;
    border-radius: 8px;
    height: 35px;
}
.audiocall__buttons_dont-know{
    background-color: blue;
}
.audiocall__buttons_next{
    background-color: greenyellow;
}
@keyframes playAudio {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}