@import "../global.css";

.auth-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background);
}

.errMesage {
    color: red;
}

.hidden {
    display: none;
}

.signin-form {
    background-color: var(--color-header);
    padding: 20px 40px;
    border-radius: 15px;
    gap: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 316px;
}

.registration-form {
    background-color: var(--color-header);
    padding: 20px 40px;
    border-radius: 15px;
    gap: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 396px;
}

.reg-form__name,
.reg-form__login,
.reg-form__pass,
.login-form__pass,
.login-form__login {
    font-size: 20px;
    border-radius: 15px;
    border: none;
    outline-offset: 3px;
    padding-left: 10px;
    outline: 0;
}

/* .reg-form__name::placeholder,
.reg-form__login::placeholder,
.reg-form__pass::placeholder,
.login-form__pass::placeholder,
.login-form__login::placeholder {
    padding-left: 15px;
} */

.reg-form__submit,
.login-form__submit {
    border: none;
    border-radius: 15px;
    width: 160px;
    height: 30px;
}

.reg-form__submit:hover,
.login-form__submit:hover {
    cursor: pointer;
}