.sprint-game {
    padding: 10px;
    background-color: var(--color-backgroud);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr;
    gap: 10px;
    color: var(--color-default);
}

.sprint-game__timer-container {
    grid-column: 1;
    grid-row: 1/span 2;
}

.sprint-game__point-container {
    grid-column: 2;
    grid-row: 1;
}

.sprint-game__controls-container {
    grid-column: 3;
    grid-row: 1/span 2;
}

.sprint-game__game {
    grid-column: 2;
    grid-row: 2;
    min-width: 300px;
    min-height: 300px;
}