.pagination {
    display: flex;
    padding: 15px;
    gap: 20px;
    color: #2F4550;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.pagination__pages {
    display: flex;
    padding: 15px;
    gap: 20px;
    background-color: #F5F5F5;
    color: #2F4550;
    justify-content: center;
    align-items: center;
}

.pagination__btn_prev {
    transform: rotate(180deg);
}

.pagination__btn:disabled,
.pages__page-num:disabled {
    border-color: gray;
}

.pagination__btn,
.pages__page-num {
    border: solid 2px #2F4550;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    font-weight: bold;
    background-color: inherit;
    font-size: 18px;
}

.pagination__btn:enabled:hover,
.pages__page-num:enabled:hover {
    cursor: pointer;
    color: gray;
    border: solid 2px gray;
}

.pages__page-num {
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-page {
    border-radius: 25px;
    width: 50px;
    height: 50px;
}

.pages__page-num_learned {
    background-color: var(--color-pagination-learned);
}