* {
    box-sizing: border-box;
}

.container {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
    min-height: 100vh;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}

.no-scroll {
    height: 100%;
    overflow: hidden;
}

.header-container {
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.app-header {
    font-size: 40px;
    font-weight: 800;
}

.burger-button{
    display: none;
}

@media (max-width: 767px) {
    html,
    .container {
        height: 100%;
    }

    .container {
        justify-content: flex-start;
        align-items: stretch;
    }

    .content {
        position: relative;
        overflow-x: hidden;
        flex: auto;
    }

    .burger-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 35px;
        transition: transform 0.5s;
    }

    .burger-button.active {
        transform: rotate(90deg);
    }

    .burger-button__icon {
        position: relative;
        width: 40px;
        height: 5px;
        background-color: #fff;
        transition: background-color 0.3s;
    }

    .burger-button__icon:before {
        position: absolute;
        content: "";
        bottom: 15px;
        width: 40px;
        height: 5px;
        background-color: inherit;
    }

    .burger-button__icon:after {
        position: absolute;
        content: "";
        top: 15px;
        width: 40px;
        height: 5px;
        background-color: inherit;
    }

    .burger-button:hover {
        cursor: pointer;
    }

    .burger-button:hover .burger-button__icon {
        background-color: #30c5ff;
    }
}

.footer {
    margin-top: auto;
    /*height: 100px;*/
    display: flex;
    align-items: center;
    flex: 0 0 100px;
    justify-content: space-around;
}

.rs-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: fit-content;
    background-color: #fff;
    transition: background-color 0.3s;
}

.rs-logo__link {
    display: block;
    height: 100%;
    padding: 5px;
    width: inherit;
}

.rs-logo:hover {
    cursor: pointer;
    background-color: #30c5ff;
}

.rs-logo__icon {
    display: block;
    height: calc(100% - 10px);
    width: auto;
}

.footer__copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
.footer__copyright-link {
    color: #444;
}
.footer__copyright-link:hover {
    color: #555;
}
.footer__copyright:before {
    content: '©';
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    font-size: 1.5rem;
    margin-right: auto;
    padding-top: 10px;
}

.nav-list__link {
    transition: transform 0.3s, color 0.3s;
}

.nav-list__link:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.nav-list__link--active {
    color: #30c5ff;
}
